extends ../layouts/common.pug
block content
    div(class="d-flex flex-column justify-content-center align-items-center")
        h1 List Friend
            
        form(action="/users/search",method="GET",class="form-inline my-2 my-lg-0")
            a(href="/users/create").mr-3.btn.btn-outline-success.my-2.my-sm-0 Thêm
            input(class="form-control mr-sm-2", type="search", placeholder="Search", aria-label="Search",name="q",value=q)
            button(class="btn btn-outline-success my-2 my-sm-0", type="submit") Search
        
        table.table.w-50.mt-2
            thead
                th Avatar
                th Họ Tên
                th Số điện thoại
                th Chức năng
            tbody
                each user in users
                    form(action="users/search",method="DELETE",class="form-inline my-2 my-lg-0")
                        tr  
                            td
                                img(src=user.avatar, alt="",width="60px")
                            td=user.name
                            td=user.phone   
                            td
                                a(href='/users/' + user.id) View
                                spaN &nbsp
                                a(href="/users/delete/"+user.id)
                                    i.fas.fa-trash.btn.btn-outline-success.my-2.my-sm-0(style="cursor:pointer;")